<!DOCTYPE html>

<html lang=ru>

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title>Поиск лучших цен на тягачи и полуприцепы</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .num {
            text-align: right;
        }
        
        .fromPaper div {
            margin-bottom: 12pt
        }
        
        .fromPaper h1 {
            margin-top: 24pt;
            font-size: 1.8rem;
        }
        
        .fromPaper h2 {
            margin-top: 12pt;
            font-size: 1.3rem;
        }
        
        .form-check-label {
            white-space: nowrap;
        }
        
        #status {
            font-style: italic;
        }
        
        [v-cloak] {
            display: none
        }
        
        h3>a:visited {
            color: #551A8B !important;
        }
        
        .initial-hide {
            display: none;
        }
    </style>

    <!-- Yandex.Metrika counter -->
    <script>
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(61556533, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/61556533" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <meta name="yandex-verification" content="13bcc2171074cd28" />

</head>

<body>

    <div class="bg-light py-4 px-3 mb-4">
        <h1 class="display-5">
            <span class="bg-warning text-white px-2">Truck Price</span>
            <span class="d-none d-lg-inline">Лучшие цены на грузовики</span>
        </h1>
        <p class="text-muted">Найдите самые выгодные объявления о продаже тягачей и полуприцепов</p>
    </div>
    <div id="helpAlert" class="alert alert-info alert-dismissible fade show m-3 initial-hide" role="alert">
        Находим предложения о продаже тягачей и полуприцепов c ценами, заниженными относительно рынка. <a href="#howitworks">Подробнее о том, как работает сайт.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="localStorage.helpClosed = true">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            if (typeof localStorage.helpClosed == "undefined")
                $("#helpAlert").removeClass("initial-hide")
        });
    </script>
    <form id="form">
        <div class="card mx-3 my-3">
            <div class="card-body">
                <h2 class="card-title">Выберите параметры</h2>
                <p><small class="text-muted">Уберите все галочки в группе, чтобы снять фильтрацию по этому признаку</small></p>
                <div class="container" onchange="filterChanged()">
                    <div class="row mb-4">
                        <div class="col mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="VehicleType" onclick="trucksClicked()" value=1>
                                <label class="form-check-label">Тягачи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="VehicleType" onclick="trailersClicked()" value=2>
                                <label class="form-check-label">Рефрижераторы</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="VehicleType" onclick="trailersClicked()" value=3>
                                <label class="form-check-label">Шторные</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="VehicleType" onclick="trailersClicked()" value=4>
                                <label class="form-check-label">Бортовые</label>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="year2019">
                                <label class="form-check-label">2019 г.в.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="year2018">
                                <label class="form-check-label">2018 г.в.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="year2017">
                                <label class="form-check-label">2017 г.в.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="year2016">
                                <label class="form-check-label">2016 г.в.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="year2015">
                                <label class="form-check-label">2015 г.в.</label>
                            </div>
                        </div>

                        <div class="col mb-4 disableForTrailers">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandSCANIA">
                                <label class="form-check-label">Scania</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandVOLVO">
                                <label class="form-check-label">Volvo</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandMAN">
                                <label class="form-check-label">MAN</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandDAF">
                                <label class="form-check-label">DAF</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandMERCEDES">
                                <label class="form-check-label">Mercedes-Benz</label>
                            </div>
                        </div>

                        <div class="col mb-4 disableForTrailers">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandIVECO">
                                <label class="form-check-label">Iveco</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandRENAULT">
                                <label class="form-check-label">Renault</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandKAMAZ">
                                <label class="form-check-label">КамАЗ</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="brandMAZ">
                                <label class="form-check-label">МАЗ</label>
                            </div>
                        </div>

                        <div class="col mb-4 disableForTrailers">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="formula4x2">
                                <label class="form-check-label">4x2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="formula6x2">
                                <label class="form-check-label">6x2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="formula6x4">
                                <label class="form-check-label">6x4</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="formula6x6">
                                <label class="form-check-label">6x6</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="formula8x8">
                                <label class="form-check-label">8x8</label>
                            </div>
                        </div>

                        <div class="col mb-4 disableForTrailers">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="beds1">
                                <label class="form-check-label">1 спальное место</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="beds2">
                                <label class="form-check-label">2 спальных места</label>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="leasingOnly">
                                <label class="form-check-label">Только с возможностью лизинга</label>
                            </div>
                        </div>

                    </div>

                </div>
                <button class="btn btn-primary my-1">Поиск</button>
                <a class="btn btn-secondary my-1" href="#" role="button" data-toggle="modal" data-target="#subscribe">
                    Подписаться
                </a>
                <a class="btn btn-outline-secondary my-1 float-sm-right" href="#" role="button" onclick="copyUrlToClipboard()">
                    Скопировать ссылку
                </a>
            </div>
        </div>
    </form>

    <!-- Модальное окно подписки на обновления -->
    <div class="modal fade" id="subscribe" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="subcription_form">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подписаться на новые объявления</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="email" name="email" required placeholder="name@example.com">
                            <div class="invalid-feedback">
                                E-mail для подписки не может быть пустым.
                            </div>
                            <small id="emailHelp" class="form-text text-muted">
                                Введите e-mail, на который каждое утро будут приходить 
                                новые объявления по выбранному вами фильтру.
                            </small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="subscribe()">
                            Подписаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="results" class="card mx-3 my-3">
        <div class="card-body">
            <h2 class="mb-3 card-title">
                <span v-once :hidden="true">20 самых выгодных объявлений</span>
                <span v-cloak>{{title}}</span>
            </h2>

            <p><small id="listPrompt" class="text-muted"></small></p>
            <div id="table" class="table">
                <p class="p-md-5 m-md-5 m-3 p-3 bg-light" v-once :hidden="true">
                    Подождите, ищем и загружаем объявления...<br>
                    <small class="text-muted">(Если вы видите это сообщение слишком долго, то, скорее всего, на вашем устройстве проблемы с интернет-соединением. Попробуйте перезагрузить сайт.)</small>
                </p>
                <p class="p-md-5 m-md-5 m-3 p-3 bg-light text-danger" v-cloak v-if="visibleCards.length == 0">
                    К сожалению, заданным условиям не удовлетворяет ни одно объявление.<br>
                    <small class="text-muted">(Возможно, вы слишком сильно ограничили отбор. Попробуйте расширить параметры фильтрации.)</small>
                </p>
                <p v-if="visibleCards.length == 0"></p>
                <div class="row" v-cloak>
                    <div v-for="r in visibleCards" class="col" :key="r.url">
                        <div class="card mx-2 my-2" v-if="r.visible">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a :href="r.url" :target="width > 480? '_blank': ''" @click="ym(61556533, 'reachGoal', 'table_click')">
                                        {{r.make}} {{r.model}}
                                    </a>
                                </h3>

                                <div class="my-2 card-text">
                                    <small style="line-height: 1.7em">
                                        <span v-if="r.year" class="mx-1 px-1 bg-light text-nowrap">{{ r.year.replace(/\s/g, "") }} г.в.</span>
                                        <span v-if="r.mileage" class="mx-1 px-1 bg-light text-nowrap">{{ r.mileage }} км</span>
                                        <span v-if="r.gear" class="mx-1 px-1 bg-light text-nowrap">{{ r.gear }}</span>
                                        <span v-if="r.formula" class="mx-1 px-1 bg-light text-nowrap">{{ r.formula }}</span>
                                        <span v-if="r.hp" class="mx-1 px-1 bg-light text-nowrap">{{ r.hp }} л.с.</span>
                                        <span v-if="r.beds" class="mx-1 px-1 bg-light text-nowrap">{{ r.beds }} сп.м.</span>
                                        <span v-if="r.location" class="mx-1 px-1 bg-light text-nowrap">{{ r.location }}</span>
                                    </small>
                                </div>

                                <table class="table table-borderless table-sm my-3 text-nowrap">
                                    <tr>
                                        <td>Рыночная цена</td>
                                        <td class="num">{{ r.valuation }} р.</td>
                                    </tr>
                                    <tr>
                                        <td>В объявлении</td>
                                        <td class="num">{{ r.supplierPrice }} р.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="align-middle">Выгода</th>
                                        <td class="num py-2"><b><span v-bind:class="Number(r.benefit.replace(/[\,\s]/g, '')) > 0 ?
                                            'p-1 text-white bg-warning': 'p-1 bg-light'">
                                             {{ r.benefit }} р.
                                        </span></b></td>
                                    </tr>
                                </table>
                                <div class="card-footer" v-if="(r.result == 'no_vat') || (r.result == 'no_vat_ever') || (r.result == 'ok') || (r.result == 'unclear') || r.leasePayment">
                                    <span class="badge badge-success" v-if="r.result == 'ok'">Цена с НДС</span>
                                    <span class="badge badge-danger" v-if="(r.result == 'no_vat') || (r.result == 'no_vat_ever')">Без НДС</span>
                                    <span class="badge badge-secondary" v-if="r.result == 'unclear'">НДС?</span>
                                    <a class="badge badge-info" v-if="(r.leasePayment) && (r.result != 'no_vat') && (r.result != 'no_vat_ever')" v-bind:href="'https://lp.ctrl.lc/usedtrucks?price=' + r.supplierPrice.replace(/[\s\,\.]/g, '') + '&utm_term=' + (r.vehicleType == 'Тягач' ? 'truck' : 'trailer')">
                                        Лизинг: {{ r.leasePayment }} р./мес.
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="card mx-3 my-3">
        <div class="card-body">
            <h2 id="howitworks" class="mb-3 card-title">Как это работает?</h2>
            <div class="fromPaper">
                <!-- Вставить текст из Paper сюда -->
                <div>Truck Price позволяет найти объявления о продаже грузовой техники с заниженными ценами.</div>
                <div>Мы собираем в интернете объявления о продаже грузовой техники и вычисляем <strong>выгоду</strong> - разницу между рыночной ценой и ценой, установленной в объявлении.</div>
                <div>
                    <h1>Как пользоваться</h1>
                </div>
                <ol>
                    <li>Выберите параметры фильтрации и нажмите &ldquo;Поиск&rdquo;.</li>
                    <li>В появившемся списке объявлений кликните на ссылку с названием марки и модели, чтобы открыть объявление. Объявление открывается сразу на том сайте, откуда оно было просканировано. Оттуда вы сможете увидеть полную информацию об объявлении
                        и связаться с продавцом.</li>
                    <li>Кроме параметров объявления и расчета выгоды, вы сможете увидеть бейджи:</li>
                    <ol>
                        <li><span class="badge badge-success">Цена с НДС</span> - продавец подтвердил, что цена, указанная на объявлении, содержит НДС.</li>
                        <li><span class="badge badge-danger">Без НДС</span> - НДС в цене не содержится: либо технику продает физлицо, либо цена с НДС будет дороже.</li>
                        <li><span class="badge badge-secondary">НДС?</span> - в объявлении нет указания на то, содержит ли цена НДС.</li>
                        <li><span class="badge badge-info">Лизинг</span> - эту технику можно взять в лизинг. Кликните на бэйдж, чтобы перейти на сайт лизинговой компании и оставить заявку на приобретение техники в лизинг. Сейчас в лизинг можно взять любую
                            технику, продающуюся с НДС, от 2015 г.в. и моложе (2017 г.в. и моложе для МАЗ и КамАЗ). <a href="https://lp.ctrl.lc/usedtrucks">Подробнее о лизинге&hellip;</a></li>
                    </ol>
                </ol>
                <div>
                    <h1>Зачем это нужно?</h1>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <h2>Реальная экономия</h2>
                        <div>Выгода по некоторым объявлениям превышает 1 000 000 руб. и эту выгоду получить вполне реально.&nbsp;</div>
                        <div>Мы ежедневно проверяем объявления с лучшей выгодой и убираем оттуда те, где продается только рама и документы, где требуется ремонт техники или выкуп ее из лизинга.</div>
                        <div>В итоге на сайте остаются только те объявления, где техника рабочая, а в цене нет никаких сюрпризов.&nbsp;</div>
                    </div>
                    <div class="col-lg">
                        <h2>Быстрота реакции</h2>
                        <div>Ежедневно тысячи людей следят за объявлениями о продаже авто, поэтому объявления с лучшими ценами очень сложно поймать. Как только техника по хорошим ценам появляется на рынке, ее очень быстро выкупают те, кто занимается закупками
                            техники профессионально. Теперь у вас есть шанс побороться с ними на равных - вы получаете мгновенный доступ к лучшим ценам в тот же день, когда было размещено объявление.&nbsp;</div>
                    </div>
                    <div class="col-lg">
                        <h2>Сокращение трудозатрат</h2>
                        <div>Если вы собираетесь приобрести грузовую технику, то при анализе цен очень сложно определить, какая цена хорошая. При оценке используется много параметров - год выпуска, пробег, мощность двигателя, количество спальных мест, тип
                            коробки передач и др. Если пытаться анализировать все их вручную, то вы потратите уйму времени и, возможно, все равно что-то упустите из виду.</div>
                        <div>А мы помогаем вам найти лучшие объявления всего в несколько кликов.</div>
                    </div>
                </div>
                <div>
                    <h1>Оценка выгоды</h1>
                </div>
                <div>
                    <h2>Как вы рассчитываете рыночную цену и выгоду?</h2>
                </div>
                <div>Мы используем машинное обучение, чтобы построить систему оценки рыночной цены. При оценке система учитывает все параметры объявления:</div>
                <ul>
                    <li>Тип ТС</li>
                    <li>Марка</li>
                    <li>Год выпуска</li>
                    <li>Пробег</li>
                    <li>Колесная формула</li>
                    <li>Тип коробки передач</li>
                    <li>Мощность двигателя</li>
                    <li>Количество спальных мест</li>
                </ul>
                <div>После анализа этих данных, каждое объявление получает оценку рыночной цены. После ее сравнения с ценой, которую владелец поставил на объявлении, рассчитывается выгода, которую вы получаете при приобретении этой техники.&nbsp;</div>
                <div>
                    <h2>Сейчас цены пойдут вверх - насколько актуальна будет ваша оценка?</h2>
                </div>
                <div>Мы калибруем нашу систему каждый месяц, чтобы учесть движение рыночных цен.</div>
                <div>
                    <h1>Объявления</h1>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <h2>Какую технику я смогу у вас найти?</h2>
                        <div>Мы следим за объявлениями на седельные тягачи и полуприцепы для промтоваров (рефрижераторы, шторные, бортовые) - от 2015 года выпуска.</div>
                    </div>
                    <div class="col-lg">
                        <h2>Насколько актуальны объявления?</h2>
                        <div>Мы показываем объявления, актуальные на текущую дату. Если объявление было снято продавцом, оно исчезает с нашего сайта.</div>
                    </div>
                    <div class="col-lg">
                        <h2>Если выгода отрицательная, что это означает?</h2>
                        <div>Это значит, что мы считаем, что транспортное средство должно стоить меньше, чем та цена, которую запросил автор объявления.</div>
                    </div>
                </div>
                <!-- Конец области вставки -->
            </div>
        </div>
    </div>

    <script src="https://www.google.com/jsapi"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCfCLScPkTjAUmRihLP-IDtOh0nksRlxVc",
            authDomain: "best-trucks.firebaseapp.com",
            databaseURL: "https://best-trucks.firebaseio.com",
            projectId: "best-trucks",
            storageBucket: "best-trucks.appspot.com",
            messagingSenderId: "560287018063",
            appId: "1:560287018063:web:b6fa09faa77488f8514e3a",
            measurementId: "G-VNG1FYCBRJ"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        var db = firebase.firestore();
    </script>

    <!-- Vue - development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- main script -->
    <script src="js/google-sheets-html.js"></script>

    <!-- bootstrap code -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

    <!-- jivosite code -->
    <script src="https://code-ya.jivosite.com/widget/eV5AoUco3H" async></script>
    -->


</body>

</html>